/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .header {
   margin:0;
   padding:0;
   width: 100%;
   background-color:default;
   text-align: center;
 }
 .navbar-brand:hover{
    background-color:white;
 }
 a.navbar-header{
   background-color:white;
 }
 img{
   max-width: 50%;
 }
 .header li {
   list-style:none;
   display:inline;
 }
 .header a {
   line-height:50px;
   padding:18px;
   text-decoration:none;
   color:black;
 }
 .header a:hover {
   background: red;
 }
 .row {
 margin: 30px 30px;
 padding: 10px;
 border-bottom: medium solid #aaaaaa;
 color: black;
 }
 .bg-info{
   padding:18px;
   border-bottom: medium solid #aaaaaa;
 }
 .bg-success{
   word-wrap: break-word;
 }
