/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 img{
   max-width: 50%;
 }
 .header li {
   list-style:none;
   display:inline;
 }
 .header a {
   line-height:60px;
   padding:18px;
   text-decoration: blink;
   color:white;
 }
 .header a:hover {
   background: #3b59bb;
 }
 .row {
 margin: 30px 30px;
 padding: 10px;
 border-bottom: medium solid #aaaaaa;
 color: black;
 }
 .bg-default{
   padding:18px;
   margin: 30px 30px;
   border-bottom: medium solid #aaaaaa;
   background-color: white;
 }
 .bg-default{
   word-wrap: break-word;
 }

 header {
  width: 100%;
  background-color:#3b5998;
  text-align: center;
}


.navbar {
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}


.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
}

.about {
  background-color: white;
  color: #333;
  /*padding-top: 20px;*/
  /*padding-bottom: 40px;*/
  padding: 80px;
}
.body{
  background-color: black;
}
