// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img{
  max-width: 50%;
}
.header {
  margin:0;
  padding:0;
}
.header li {
  list-style:none;
  display:inline;
}
.header a {
  line-height:50px;
  padding:18px;
  text-decoration:none;
  color:black;
}
.header a:hover {
  background: red;
}
